body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #40514e;
  margin: 0;
}

.second-container {
  margin-left: 15%;
  margin-right: 15%;
}

.lady_nurse {
  width: 400px;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}

p {
  line-height: 2;
}

.about {
  padding:30px;
  text-align:center;
  margin-bottom: 100px;
}

.last-container {
  background-color: #0091ad;
text-align:center;
padding:10px;
margin-top:170px;
}

.copyright {
  margin-bottom: 0;
}

.facebook {
text-decoration: none;
color: #40514e;
}
a.facebook:hover{
  text-decoration: none;
  color: white;
}

.logo {
  width: auto;
      max-width: 40%;
      height: auto;
}
.facebook-icon{
  width: 35px;
  margin-left: 40px;
}
