body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #40514e;
  margin: 0px;
}

.contact_us {
  padding: 30px;
  text-align: center;
  margin-bottom: 100px;
}

p {
  line-height: 2;
}

.second-container-contact {
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
}
.ct-form{
  float:left;
  width:60%;
  padding:0 20px;
}

.last-container {
  background-color: #0091ad;
  text-align: center;
  padding: 10px;
  margin-top: 821px;
}

.copyright {
  margin-bottom: 0;
}

.facebook {
  text-decoration: none;
  color: #40514e;
}

a.facebook:hover {
  text-decoration: none;
  color: white;
}

.logo {
  width: auto;
      max-width: 40%;
      height: auto;
}

.facebook-icon {
  width: 35px;
  margin-left: 40px;
}

.contact-text {
  display: inline-block;
  margin-right: 240px;
  position: absolute;
  top: 98px;
  left: 50px;
  width: 332px;
}

.contact-form {
  display: inline-block;
  position: absolute;
  right: 0px;
  width: 500px;
}

.ct-container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.red {
  color: red;
  padding-left: 5px;
}

.submit {
  background-color: #eae8e8;
  color: #40514e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  height: 45px;
  line-height: 45px;
  width: 98px;
  text-decoration: none;
  text-align: center;
  text-indent: 0px;
  display: inline-block;
}

.submit:hover {
  background-color: #0091ad;
  color: white;
}
