body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #40514e;
  margin: 0px;
}

p {
  line-height: 2;
  padding-bottom: 60px;
  margin-left: 25%;
  margin-right: 25%;
}

/*This is the style for the logo*/
.logo {
  width: auto;
  max-width: 40%;
  height: auto;
}

/*This is the style for the social icon*/
.facebook-icon {
  width: 35px;
  margin-left: 40px;
}

/* The main style of the site*/
.second-container {
  margin-left: 15%;
  margin-right: 15%;
}

.employment {
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}

red {
  color: red;
  padding-left: 5px;
}

.resume {
  overflow: visible;
}

.resume-container {
  display: inline-block;
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
}

.submit {
  color: #fff;
  background-color: #0091ad;
  border-color: #0091ad;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  height: 45px;
  line-height: 45px;
  width: 98px;
  text-decoration: none;
  text-align: center;
  text-indent: 0px;
  display: inline-block;
}

.submit:hover {
  background-color: #057186;
  opacity: 80%;
  color: white;
}

.submit:active {
  position: relative;
  top: 1px;
}

.red{
  color:red;
}

/*This is the footer style*/
.last-container {
  background-color: #0091ad;
  text-align: center;
  padding: 10px;
  margin-top: 150px;
}

.copyright {
  margin-bottom: 0;
  padding-bottom: 0;
}

.facebook {
  text-decoration: none;
  color: #40514e;
}

a.facebook:hover {
  text-decoration: none;
  color: white;
}
