body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #40514e;
  margin: 0px;
}

p {
  line-height: 2;
}

/*This is the style of the logo*/
.logo {
  width: auto;
  max-width: 40%;
  height: auto;
}

/*This is the social icon*/
.fab:hover{
  color: #0091ad;
}
.fa-2x {
    font-size: 1.5em !important;
}

/* Navbar */
.nav-link{
  font-size: 1.2rem ;
}

/*This is the style of the main content*/
.second-container {
  margin-left: 15%;
  margin-right: 15%;
}

.services {
  padding: 30px;
  text-align: center;
  margin-bottom: 100px;
}

/*This is the style of the footer*/
.last-container {
  background-color: #0091ad;
  text-align: center;
  padding: 10px;
  margin-top: 170px;
}

.copyright {
  margin-bottom: 0;
}

.facebook {
  text-decoration: none;
  color: #40514e;
}

a.facebook:hover {
  text-decoration: none;
  color: white;
}
