body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #40514e;
  margin: 0px;
}

p {
  line-height: 2;
}

/*This is the banner style for the site*/
.first-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.banner {
  position: relative;
  margin: 30px;
  width: 100%;
}

.border-text {
  color: white;
  position: absolute;
  top: 837px;
  left: 137px;
  font-size: 50px;
  width: 100%;
}

/*This is the style of the logo*/
.logo {
  width: auto;
  max-width: 40%;
  height: auto;
}

/*This is the social icon*/
.facebook-icon {
  width: 35px;
  margin-left: 40px;
}

/*This is the style for the main content*/
.second-container {
  width: auto;
  max-width: 100%;
  height: auto;
}

.third-container {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  background-color: #eae8e8;
  margin-top: 90px;
  margin: 50px !important;
  display: inline-block !important;
}

.image1 {
  display: inline-block;
  margin: 50px;
}

.image2 {
  display: inline-block;
  margin: 50px;
}

.image3 {
  display: inline-block;
  margin: 50px;
}

.image4 {
  display: inline-block;
  margin: 40px;
}

/*This is the style of the footer*/
.last-container {
  background-color: #0091ad;
  text-align: center;
  padding: 10px;
  margin-top: 150px;
}

.copyright {
  margin-bottom: 0;
}

.facebook {
  text-decoration: none;
  color: #40514e;
}

a.facebook:hover {
  text-decoration: none;
  color: white;
}
