body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #40514e;
  margin: 0px;
}

.home {
  background-color: #eae8e8;
  padding-left: 15%;
  margin-bottom: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 300px;
  width: 2000px;
  height:88px;
}

p {
  line-height: 2;
}

.second-container {
  margin-left: 15%;
  margin-right: 15%;
}

.last-container {
  background-color: #0091ad;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 0px;
  width: 2000px;
}

.copyright {
  width: 400px;
  margin-bottom: 0px;
}

.facebook {
  text-decoration: none;
  color: #40514e;
}

a.facebook:hover {
  text-decoration: none;
  color: white;
}

.logo {
  width: 300px;
  margin-right: 700px;
  margin-left: 25%;
}

.facebook-icon {
  width: 35px;
  margin-left: 40px;
}
