body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #40514e;
  margin: 0px;
}
.border{
background-color: #eae8e8;
padding:15px;
height: 86px;

}
.banner{
  position:relative;
  margin-bottom:150px;
}
.home {

  float:left;
width:60%;
padding:0 20px;
}

p {
  line-height: 2;
}

.second-container {
  width: auto ;
    max-width: 100% ;
    height: auto ;
}
.border-text{
  color: white;
  position: absolute;
  top:656px;
  left: 137px;
  font-size: 50px;

}
.third-container{
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  background-color: #eae8e8;
  margin-top: 90px;
  margin: 50px !important;
    display: inline-block !important;
}

.image1{
  display: inline-block;
  margin:50px;
}
.image2{
  display: inline-block;
  margin:50px;
}
.image3{
  display: inline-block;
  margin:50px;

}
.image4{
  display: inline-block;
  margin:40px;
}
.care{

  display: inline-block;
float: left;
width: 60%;
padding: 0 20px;
margin-left: 10%;
}
.home-text{
  width: 600px;
  display: inline-block;
  left: 1043px;
  top: 80px;
}
.home-container{
  display: inline-block;
}
.last-container {
  background-color: #0091ad;
text-align:center;
padding:10px;
margin-top:150px;
}

.copyright {
  margin-bottom: 0;
}

.facebook {
text-decoration: none;
color: #40514e;
}

a.facebook:hover {
  text-decoration: none;
  color: white;
}

.logo {
  width: auto;
      max-width: 40%;
      height: auto;
}

.facebook-icon {
  width: 35px;
  margin-left: 40px;
}
